[submodule "iirkit"]
	path = iirkit
	url =  https://github.com/Sofd/iirkit.git
[submodule "sofd_draw2d"]
	path = sofd_draw2d
	url = https://github.com/Sofd/sofd_draw2d.git
[submodule "sofd_swing"]
	path = sofd_swing
	url = https://github.com/Sofd/sofd_swing.git
[submodule "sofd_util"]
	path = sofd_util
	url = https://github.com/Sofd/sofd_util.git
[submodule "viskit"]
	path = viskit
	url = https://github.com/Sofd/viskit.git
